<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="RollingFile" class="org.apache.log4j.RollingFileAppender"> 
        <param name="file" value="ticketline.log"/>
        <param name="MaxFileSize" value="100KB"/>
        <param name="MaxBackupIndex" value="1"/>
        <layout class="org.apache.log4j.PatternLayout"> 
            <param name="ConversionPattern" value="%r [%t] %p %c %x - %m%n"/> 
        </layout> 
    </appender>
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender"> 
        <layout class="org.apache.log4j.PatternLayout"> 
            <param name="ConversionPattern" value="%5p [%t] (%F:%L) - %m%n"/> 
        </layout> 
    </appender>
    <category name="org.hibernate">
        <priority value="INFO" />
        <appender-ref ref="RollingFile" />
        <appender-ref ref="stdout" />
    </category>
    <category name="ticketline.hbmutil">
        <priority value="WARN" />
        <appender-ref ref="RollingFile" />
        <appender-ref ref="stdout" />
    </category>
    <root>
        <priority value="DEBUG" />
        <appender-ref ref="RollingFile" />
        <appender-ref ref="stdout" />
    </root>
</log4j:configuration>